# dependencies
/node_modules

# next.js
/.next
/out

# environment variables
.env*
!.env.example

# GA4 credentials
ga4-service-account.json
credentials.json
service-account.json
key1.json
temporary-dbh-report-json.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.dbs